/vpn-share-tool
*.exe

*.apk
*.jar
*.aar
*.txt
/dist

*_log_*

*.salive

/fyne-cross
libproxy/libproxy
web-cache-proxy
vpn_share_config.json

docs.fyne.io

fyne_metadata_init.go

fyne_cross

discovery-server/discovery-server

flutter_gui/linux/libcore*
