discovery-server/ocr_solver.py
core/ocr_solver.py

/vpn-share-tool
*.exe
*.db
*.apk
*.jar
*.aar
*.txt
/dist
/vendor

server.crt
server.key

/dev

__debug_bin*

*_log_*

*.salive

/fyne-cross
libproxy/libproxy
web-cache-proxy
vpn_share_config.json

docs.fyne.io

fyne_metadata_init.go

fyne_cross

discovery-server/discovery-server

flutter_gui/linux/libcore*
certs/
certs/*.key
discovery-server/*.key
