[Unit]
Description=VPN Share Tool Discovery Server
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/opt/discovery-server
WorkingDirectory=/var/lib/discovery-server
Restart=on-failure
RestartSec=5s
Environment="BASIC_AUTH_USER=admin"
Environment="BASIC_AUTH_PASS=admin"

[Install]
WantedBy=multi-user.target
